# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.ipynb_checkpoints
*.idea/
.mypy_cache/
# Distribution / packaging
*.egg-info/
.eggs/
.env
.hypothesis/
build/
dist/
pip-wheel-metadata/
tests/test_model_artifacts
venv*/
